.filters{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}
.game{
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.01);
    }
    &-thumb-container{
        background-color: #000;
        position: relative;
        height: 172px;
        color: #fff;
        text-align: center;
    }
    &-thumbnail{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 172px;
    }
    &-description{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 157px;
    }
    &-name{
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-platforms{
        display: flex;
    }
    &-platform{
        width: 20px;
        margin-right: 10px;
    }
}