<<<<<<< HEAD
body{
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    padding-top: 60px;
    height: 100%;
    color: #fff;
}

body *{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
=======
/* You can add global styles to this file, and also import other style files */
>>>>>>> afb5febb1861988a821b88ee9141709b82a06ce7
